<a href="https://colab.research.google.com/github/AnkanSwain/PythonAssignment/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 1**

# *List* and related operations

In [1]:
my_list = ["task", "september python batch", False, 49]

In [10]:
print(type(my_list))

print(type(my_list[0]))
print(type(my_list[1]))
print(type(my_list[2]))
print(type(my_list[3]))

<class 'list'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'int'>

In [6]:
print(my_list)

['task', 'september python batch', False, 49]

In [7]:
#indexing
print(my_list[2])

False

In [8]:
#slicing
print(my_list[0:4])
print(my_list[1:3])

['task', 'september python batch', False, 49]
['september python batch', False]

In [15]:
#negative slicing
print(my_list[-4:-1])
print(my_list[-2:])

['task', 'september python batch', False]
[False, 49]

In [25]:
#list of numbers and other methods
num_list =  [2, 5, 14, 9, 7, 11, 17]

In [26]:
print(num_list)

print("After Sorting: ")
num_list.sort()
print(num_list)

print("After reversing: ")
num_list.reverse()
print(num_list)

[2, 5, 14, 9, 7, 11, 17]
After Sorting:
[2, 5, 7, 9, 11, 14, 17]
After reversing:
[17, 14, 11, 9, 7, 5, 2]

In [27]:
#inserting at some index
num_list.insert(1, 15)
print(num_list)

#remove (uses given data)
num_list.remove(5)
print(num_list)

#append
num_list.append(10)
print(num_list)

#pop (uses given index)
num_list.pop(4)
print(num_list)

[17, 15, 14, 11, 9, 7, 5, 2]
[17, 15, 14, 11, 9, 7, 2]
[17, 15, 14, 11, 9, 7, 2, 10]
[17, 15, 14, 11, 7, 2, 10]

In [28]:
#updating
num_list[0] = 18
print(num_list)

[18, 15, 14, 11, 7, 2, 10]

# Tuples

Immutable (i.e. data cannot be changed)

In [29]:
my_tuple = ("Ankan", 19, True)

print(my_tuple)

('Ankan', 19, True)

In [30]:
my_tuple.append(10)

AttributeError: ignored

In [31]:
my_tuple.reverse()

AttributeError: ignored

No changes can be made to a Tuple

# Dictionary

In [43]:
my_dict = {
    "name1":"Ankan",
    "name2":"Ankit",
    "name3":"Chandu"
}

In [44]:
print(my_dict)

{'name1': 'Ankan', 'name2': 'Ankit', 'name3': 'Chandu'}

In [45]:
print(my_dict["name2"])

Ankit

In [46]:
my_dict.keys()

dict_keys(['name1', 'name2', 'name3'])

In [47]:
my_dict.values()

dict_values(['Ankan', 'Ankit', 'Chandu'])

In [48]:
my_dict["name4"] = "Binu"
print(my_dict)

{'name1': 'Ankan', 'name2': 'Ankit', 'name3': 'Chandu', 'name4': 'Binu'}

In [49]:
my_dict.get("name3")

'Chandu'